@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <h1>BookKeepify</h1>

        Welcome to my new app.
    </NotAuthorized>
</AuthorizeView>


